.Botao_RegistrarQuarto {
    -fx-background-color: #E31982;
    -fx-background-radius: 20;
    -fx-border-insets: 2;
    -fx-border-width: 2;
    -fx-border-color: #69073A;
    -fx-border-radius: 20;
}

.Botao_RegistrarQuarto:hover {
    -fx-background-color: #CB4A8D;
}

.Botao_RegistrarQuarto:pressed {
    -fx-background-color: #E31982;
}